*{
    margin:0;
    padding:0;
    text-align: center;
    background-color: #57A6A1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#mainHead{
    padding:3rem;
    background-color:#240750;
    color:white;
}

.choices{
    border-radius: 50%;
    background-color:blue;
    background-size: cover;
    margin:5px;
    border:2px solid white;
    color: white;
    font-size:large;
}
@media(min-width:768px){
    .choices{
        color: transparent;
    }
    
.one {
    background-image: url(images/single.jpg);
}
.two{
    background-image: url(images/double.jpg);
}
.three{
    background-image: url(images/three.jpg);
}
.four{
    background-image: url(images/four.jpg);
}
.five{
    background-image: url(images/five.png);
}
.six{
    background-image: url(images/six.jpg);
}
}
.choices-container{
    height:20vh;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap:2rem;
}
.choices:hover{
    border:2px solid red;
    opacity:0.7;
    cursor:pointer;
}
.restart,.comment,.replay{
    background-color: #240750;
    padding:2rem;
    font-size:20px;
    color:white;
    border-radius:4rem;
}
.msg-container{
    margin-top: 2rem;
    gap:1rem;
    justify-content: center;
}
.hide{
    display:none;
}

.scoreboard{
    margin-top: 2rem;
    gap:20px;
    justify-content: center;
    font-size: 3vw;
}

.tossbg{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.tossbox{
    background-color:#240750;
    padding:2rem;
    width:24rem;
    height:24rem;
}

#coin{
    width:50%;
    height:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font: 2rem bold;
    border-radius: 50%;
    background-color: grey;
    border:5px black;
    border-style: dashed;
    margin:1rem auto;
    animation: none;
}

@keyframes spin {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

#heads,#tails{
    padding:1rem 2rem;
    font-size:1.2rem;
    border-radius:1rem;
    border:none;
    color:white;
    background-color:#57A6A1;
    cursor:pointer;
    margin: 0 1rem;
}

#heads:hover,#tails:hover{
    background-color:#30b707;
}